/* 1. ---General Styles--- */

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

img { 
	margin: 0; 
}

.hidden {
    display: none;
}

#container {
	margin: 0 auto;
	width: 1920px;
}

/* .icons {text-align: center;} */

.icons h2 { font-size: 2em; margin: 10px 0;}

.icons img {
    width: 30%;
    display: inline;
	border: solid 20px;
	justify-content: center;
	border-color: black;
}

.icons {
	position: relative;
}


/* .icons div img {
    width: 100%;
} */


section {
	margin-top: 250px;
	margin-bottom: 100px;
	margin-left: 250px;
	/* margin-right: 200px; */
	justify-content: center;
    align-items: center;
}

/* .icons-image h3 {
	font-size: 23px;
	color: #000;
	justify-content: center;
	align-items: center;
	display: flex;

} */

@keyframes rotate { 
	0%{
	transform: rotate(0deg) translate3d(0, 0, 0);
	}
	25%{
		transform: rotate(5deg);
	}
	50%{
		transform: rotate(-5deg);
	}
	75%{
		transform: rotate(5deg);
	}
	100%{
		transform: rotate(0deg);
	}
	
}

.first-coloumn1 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.first-coloumn1:hover {
	animation: rotate 0.7s ease-in-out both;
}


.second-coloumn1 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.second-coloumn1:hover {
	animation: rotate 0.7s ease-in-out both;
}

.third-coloumn1 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.third-coloumn1:hover {
	animation: rotate 0.7s ease-in-out both;
}

.first-coloumn2 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.first-coloumn2:hover {
	animation: rotate 0.7s ease-in-out both;
}

.second-coloumn2 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.second-coloumn2:hover {
	animation: rotate 0.7s ease-in-out both;
}

.third-coloumn2 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.third-coloumn2:hover {
	animation: rotate 0.7s ease-in-out both;
}

.first-coloumn3 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.first-coloumn3:hover {
	animation: rotate 0.7s ease-in-out both;
}

.second-coloumn3 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.second-coloumn3:hover {
	animation: rotate 0.7s ease-in-out both;
}

.third-coloumn3 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.third-coloumn3:hover {
	animation: rotate 0.7s ease-in-out both;
}

.first-coloumn4 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.first-coloumn4:hover {
	animation: rotate 0.7s ease-in-out both;
}

.second-coloumn4 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.second-coloumn4:hover {
	animation: rotate 0.7s ease-in-out both;
}

.third-coloumn4 {
	margin-right: 200px;
	margin-bottom: 200px;
}

.third-coloumn4:hover {
	animation: rotate 0.7s ease-in-out both;
}

.headerimg {
	width: 100%;
	height: auto;
}


.footerimg {
	width: 100%;
	height: auto;
}

